apiVersion: v1
kind: Service
metadata:
  name: orders-api
  namespace: staging
spec:
  selector:
    app: orders-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
